
html
{
padding:0px;
margin:0px;
}

*
{
padding:0px;
margin:0px;
}

body 
{
width:100%;
height:100%;
background:url(../img/bg.jpg) 100% 100% fixed no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

ul, ol, li
{
list-style:none; 	
padding:0px;
margin:0px;
text-align:center;
}

img
{
padding:0px;
margin:0px;
border:none;
}



.error 
{
font:normal 14px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#b20000;
}

/* NOTES
================================================== */
/* Messages .info, .success, .warning, .error, .validation
----------------------------------------------- */
.info_msg, .success_msg, .warning_msg, .error_msg, .validation_msg {
	width: auto;
	border: 1px solid;
	margin: 0;
	padding:15px 50px 15px 0px;
	background-repeat: no-repeat;
	background-position: 98% center;
	border-radius:4px;
	direction: rtl;
}

.infowoicon_msg, .successwoicon_msg, .warningwoicon_msg, .errorwoicon_msg, .validationwoicon_msg {
	width: auto;
	border: 1px solid;
	margin: 0;
	padding:15px 10px;
	background-repeat: no-repeat;
	background-position: 2% center;
	border-radius:4px;
	direction: rtl;
}

.info_msg {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../../img/icons/information.png);
}
.infowoicon_msg {
	color: #00529B;
	background-color: #BDE5F8;
}
.success_msg {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(../../img/icons/accept.png);
}
.successwoicon_msg {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning_msg {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(../../img/icons/error.png);
}
.warningwoicon_msg {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error_msg {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../../img/icons/exclamation.png);
}
.errorwoicon_msg {
	color: #D8000C;
	background-color: #FFBABA;
}
.validation_msg {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url(../../img/icons/error.png);
}
.validationwoicon_msg {
	color: #D63301;
	background-color: #FFCCBA;
}








::-webkit-input-error {color: #fff;}

:-moz-error { /* Firefox 18- */color: #fff;}

::-moz-error {  /* Firefox 19+ */color: #fff;}

:-ms-input-error {color: #fff;}


::-webkit-input-placeholder {color: #fff;}

:-moz-placeholder { /* Firefox 18- */color: #fff;}

::-moz-placeholder {  /* Firefox 19+ */color: #fff;}

:-ms-input-placeholder {color: #fff;}

 input[placeholder],[placeholder],*[placeholder] 
{
color:#fff !important;
}

:focus {outline:none;}

@font-face 
{
font-family: 'GEFlowRegular';
src: url('fonts/GEFlowRegular.eot');
src: local('☺'), url('fonts/GEFlowRegular.woff') format('woff'), url('fonts/GEFlowRegular.ttf') format('truetype'), url('fonts/GEFlowRegular.svg') format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'GEFlowBold';
src: url('fonts/GEFlowBold.eot');
src: local('☺'), url('fonts/GEFlowBold.woff') format('woff'), url('fonts/GEFlowBold.ttf') format('truetype'), url('fonts/GEFlowBold.svg') format('svg');
font-weight: normal;
font-style: normal;
}


.ip-header 
{
position: fixed;
top: 0;
z-index: 100;
min-height: 460px;
width: 100%;
height: 100%;
background:url(../img/bg.jpg) no-repeat;
}

.ip-logo,.ip-loader 
{
position: absolute;
left: 0;
width: 100%;
opacity: 0;
cursor: default;
pointer-events: none;
}

.ip-logo 
{
width: 100%;
height: 100%;
-webkit-transform: translate3d(0,30%,0);
transform: translate3d(0,30%,0);
margin:0px auto 0px auto;
background:url(../img/logo.png) center 10% no-repeat;
}

.ip-loader 
{
bottom: 20%;
margin-left:10px;
}

.ip-header .ip-inner 
{
display: block;
margin: 0 auto;
}

.ip-header .ip-logo svg 
{
position: absolute;
min-height: 200px;
height: 25%;
}

.loaded .ip-header .ip-logo svg 
{
max-height:300px;
}

.ip-header .ip-logo svg path 
{
fill: #635b59;
}

.ip-header .ip-loader svg path 
{
fill: none;
stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg 
{
stroke-width: 12;
stroke: #322b21;
}

.ip-header .ip-loader svg path.ip-loader-circle 
{
-webkit-transition: stroke-dashoffset 0.2s;
transition: stroke-dashoffset 0.2s;
stroke: #534f45;
}

.loading .ip-logo,.loading .ip-loader 
{
opacity: 1;
}

.loading .ip-logo 
{
-webkit-animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLogo 
{
from { opacity: 0; }
}

@keyframes animInitialLogo 
{
from { opacity: 0; }
}

.loading .ip-loader 
{
-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader 
{
from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader 
{
from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

.loaded .ip-logo,.loaded .ip-loader 
{
opacity: 1;
}

.loaded .ip-logo 
{
-webkit-transform-origin: 50% 0;
transform-origin: 50% 0;
-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo 
{
to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo 
{
to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader 
{
-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader 
{
to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader 
{
to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

.loaded .ip-logo svg path 
{
-webkit-transition: all 0.5s ease 0.3s;
transition: all 0.5s ease 0.3s;
fill: #fff;
}

.loaded .ip-header 
{
-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader 
{
to { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes animLoadedHeader
{
to { -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

.no-js .ip-header 
{
position: relative;
min-height: 0px;
}

.no-js .ip-header .ip-logo 
{
margin-top: 20px;
height: 180px;
opacity: 1;
-webkit-transform: none;
transform: none;
}

.no-js .ip-header .ip-logo svg path 
{
fill: #fff;
}



/*---------------------- Body -----------------------*/

.header-continer 
{
display:block;
position:relative;
width:100%;
height:70px;
position:-webkit-sticky;
background:url(../img/header-continer.png) repeat-x;
}

.sticky 
{
position:fixed;
width: 100%;
height:70px;
left: 0;
top: 0;
z-index: 100;
border-top: 0;
background:url(../img/header-scroll.png) repeat-x;
}

.small-logo 
{
display:block;
position:relative;
width:48px;
height:50px;
float:right;
margin:8px 10px 0px 0px;
background:url(../img/small-logo.png) no-repeat;
}

.header-sp 
{
display:block;
position:relative;
width:1px;
height:50px;
float:right;
margin:8px 10px 0px 10px;
opacity: 0.3;
filter: alpha(opacity=50);
background:#e4e4e4;
}

.header-title 
{
display:block;
position:relative;
width:170px;
height:20px;
font:normal 22px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-shadow: 0px 1px 2px #6e6e6e;
float:right;
text-align:right;
margin:18px 0px 0px 0px;
}

.home-button a
{
display:block;
position:relative;
width:32px;
height:32px;
float:left;
margin:18px 10px 0px 10px;
background:url(../img/home-icon.png) no-repeat;
}

.home-button a:hover 
{
background:url(../img/home-icon.png) 0px -32px no-repeat;
}

.footer 
{
display:block;
position:relative;
width:100%;
height:40px;
bottom:0px;
left:0px;
font:normal 14px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #505050;
text-align:center;
line-height:40px;
padding:0px 0px 0px 0px;
margin:15px 0px 0px 0px;
border-top:solid 1px #403c3c;
background:url(../img/footer.png) repeat-x;
}

.empty 
{
display:block;
position:relative;
width:100%;
height:100px;
margin:0px 0px 0px 0px;
}

.empty-space
{
display:block;
position:relative;
width:100%;
height:120px;
margin:0px 0px 0px 0px;
}

/*---------------------- First Screen -----------------------*/


.main-logo 
{
display:block;
position:relative;
width:143px;
height:153px;
margin:50px auto 0px auto;
background:url(../img/logo.png) no-repeat;
}

.mail-button a
{
display:block;
position:relative;
width:70%;
height:50px;
font:normal 20px 'GEFlowRegular',Sans-Serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 1px #6e6e6e;
text-align:right;
line-height:50px;
padding:0px 10px 0px auto;
margin:40px auto 0px auto;
border:solid 1px #acaaa7;
border-bottom:none;
-webkit-border-radius:3px 3px 0px 0px;
-moz-border-radius:3px 3px 0px 0px;
border-radius:3px 3px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}   

.mail-button a:hover
{
background:url(../img/main-but.png) 0px -53px repeat-x;
}

.about-button a
{
display:block;
position:relative;
width:70%;
height:50px;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #6e6e6e;
text-align:right;
line-height:50px;
padding:0px 10px 0px auto;
margin:-1px auto 0px auto;
border:solid 1px #acaaa7;
border-bottom:none;
background:url(../img/main-but.png) repeat-x;
}   

.about-button a:hover
{
background:url(../img/main-but.png) 0px -53px repeat-x;
}


.contact-button a
{
display:block;
position:relative;
width:70%;
height:50px;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #6e6e6e;
text-align:right;
line-height:50px;
padding:0px 10px 0px auto;
margin:-1px auto 0px auto;
-webkit-border-radius:0px 0px 3px 3px;
-moz-border-radius:0px 0px 3px 3px;
border-radius:0px 0px 3px 3px;
border:solid 1px #acaaa7;
background:url(../img/main-but.png) repeat-x;
}   

.contact-button a:hover
{
background:url(../img/main-but.png) 0px -53px repeat-x;
}

.mail-icon 
{
display:block;
position:relative;
width:32px;
height:32px;
float:right;
margin:10px 10px 0px 10px;
background:url(../img/mail-icon.png) no-repeat;
}

.about-icon 
{
display:block;
position:relative;
width:32px;
height:32px;
float:right;
margin:10px 10px 0px 10px;
background:url(../img/about-icon.png) no-repeat;
}

.contact-icon 
{
display:block;
position:relative;
width:32px;
height:32px;
float:right;
margin:10px 10px 0px 10px;
background:url(../img/contact-icon.png) no-repeat;
}

.thin-arrow 
{
display:block;
position:relative;
width:13px;
height:26px;
float:left;
margin:13px 10px 0px 10px;
background:url(../img/thin-arrow.png) no-repeat;
}

.Inquiry-button a
{
display:block;
position:relative;
width:69.3%;
height:34px;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #4e4e4e;
text-align:right;
line-height:25px;
padding:12px 10px 0px 0px;
margin:20px auto 0px auto;
-webkit-border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;
border:solid 1px #403c3c;
background:url(../img/Inquiry-but.png) repeat-x;
}

.Inquiry-button a:hover 
{
background:url(../img/Inquiry-but.png) 0px -56px repeat-x;
}

.thik-arrow 
{
display:block;
position:relative;
width:20px;
height:33px;
float:left;
margin:-4px 0px 0px 10px;
opacity: 0.7;
filter: alpha(opacity=70);
background:url(../img/thik-arrow.png) no-repeat;
}


/*---------------------- Inquiry Screen -----------------------*/

.inquiry-continer 
{
display:block;
position:relative;
width:80%;
height:50px;
margin:25% auto 0px auto;
border:solid 1px #acaaa7;
-webkit-border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;
background:url(../img/main-but.png) repeat-x;
}

.inquiry-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/id.png) no-repeat;
}

.inquiry-textbox
{
display:block;
position:relative;
width:80%;
height:50px;
float:right;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-align:right;
direction:rtl;
margin:0px 50px 0px 0px;
border:none;
background:none;
}

.Inquiry-butt a
{
display:block;
position:relative;
width:79.5%;
height:35px;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #4e4e4e;
text-align:left;
line-height:25px;
padding:10px 0px 0px 10px;
margin:20px auto 0px auto;
-webkit-border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;
border-bottom:solid 1px #146335;
border-top:none;
background:url(../img/green-but.png) repeat-x;
}

.Inquiry-butt a:hover 
{
color:#fff;
text-shadow: 0px 1px 1px #284635;
background:url(../img/green-but.png) 0px -50px repeat-x;
}

.arrow-go 
{
display:block;
position:relative;
width:22px;
height:17px;
float:right;
margin:3px 10px 0px 0px;
background:url(../img/go-arrow.png) no-repeat;
}

.inquiry-pic 
{
display:block;
position:relative;
width:100%;
height:300px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/inquiry-pic.png) 100% 100% no-repeat;
}


/*---------------------- About Screen -----------------------*/

.about-pic 
{
display:block;
position:relative;
width:100%;
height:300px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/about-pic.png) 100% 100% no-repeat;
}

.body-continer 
{
display:table;
position:relative;
width:90%;
height:auto;
min-height:100px;
margin:15px auto 10px auto;
-webkit-border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;
border:solid 1px #d9d5d2;
background:url(../img/body-continer.png) repeat;
}

.title-continer 
{
display:table;
position:relative;
width:96.8%;
height:28px;
font:normal 20px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#48453c;
text-align:right;
padding:8px 10px 0px 0px;
line-height:20px;
margin:14px auto 0px auto;
background:url(../img/body-continer.png) repeat;
}

.text-continer 
{
display:table;
position:relative;
width:96.8%;
height:20px;
font:normal 16px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#48453c;
text-align:justify;
direction:rtl;
margin:10px auto 10px auto;
}


/*---------------------- Contact Screen -----------------------*/

.ucontact-continer 
{
display:block;
position:relative;
width:80%;
height:51px;
margin:15px auto 0px auto;
border:solid 1px #bbbbbb;
border-bottom:none;
-webkit-border-radius:3px 3px 0px 0px;
-moz-border-radius:3px 3px 0px 0px;
border-radius:3px 3px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}

.econtact-continer 
{
display:block;
position:relative;
width:80%;
height:51px;
margin:-1px auto 0px auto;
border:solid 1px #bbbbbb;
border-bottom:none;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}

.idcontact-continer 
{
display:block;
position:relative;
width:80%;
height:51px;
margin:-1px auto 0px auto;
border:solid 1px #bbbbbb;
border-bottom:none;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}

.pcontact-continer 
{
display:block;
position:relative;
width:80%;
height:51px;
margin:-1px auto 0px auto;
border:solid 1px #bbbbbb;
border-bottom:none;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}

.scontact-continer 
{
display:block;
position:relative;
width:80%;
height:51px;
margin:-1px auto 0px auto;
border:solid 1px #bbbbbb;
border-bottom:none;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
background:url(../img/main-but.png) repeat-x;
}

.tcontact-continer 
{
display:block;
position:relative;
width:80%;
height:100px;
margin:-1px auto 0px auto;
border:solid 1px #bbbbbb;
background:url(../img/body-continer.png) repeat;
}

.contact-textbox
{
display:block;
position:relative;
width:80%;
height:45px;
font:normal 16px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-align:right;
direction:rtl;
float:right;
padding:2px 0px 0px 0px;
margin:0px 50px 0px 0px;
border:none;
background:none;
}

.lcontact-textbox
{
display:block;
position:relative;
width:99%;
height:90px;
float:right;
font:normal 16px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-align:right;
direction:rtl;
padding:5px 0px 5px 0px;
margin:0px auto 0px auto;
right:3px;
border:none;
overflow:hidden;
background:none;
}

.name-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/user.png) no-repeat;
}

.email-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/email.png) no-repeat;
}

.id-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/id.png) no-repeat;
}

.phone-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/iphone.png) no-repeat;
}

.subject-icon 
{
display:block;
position:absolute;
width:32px;
height:32px;
float:right;
right:10px;
top:8px;
background:url(../img/subject.png) no-repeat;
}

.enter-butt a
{
display:block;
position:relative;
width:79.5%;
height:30px;
font:normal 18px 'GEFlowbold', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-decoration:none;
text-shadow: 0px 1px 2px #505050;
text-align:left;
line-height:22px;
padding:10px 0px 0px 10px;
margin:-1px auto 0px auto;
-webkit-border-radius:0px 0px 3px 3px;
-moz-border-radius:0px 0px 3px 3px;
border-radius:0px 0px 3px 3px;
border-bottom:solid 1px #146335;
border-top:none;
z-index:10;
background:url(../img/green-but.png) repeat-x;
}

.enter-butt a:hover 
{
color:#fff;
text-shadow: 0px 1px 1px #284635;
background:url(../img/green-but.png) 0px -50px repeat-x;
}

.ebutton 
{
display:block;
position:absolute;
width:68.5%;
height:30px;
border:none;
background:none;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:300px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/contact-pic.png) 100% 100% no-repeat;
}

.contact-info-continer 
{
display:table;
position:relative;
width:100%;
height:auto;
min-height:40px;
margin:-1px 0px 0px 0px;
padding:5px 0px 0px 0px;
border:solid 1px #525252;
border-left:none;
border-right:none;
background:url(../img/social-media.png) no-repeat;
}

.contact-info-title
{
font:normal 14px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#fff;
text-shadow: 0px 1px 2px #000;
text-align:right;
padding:0px 10px 2px 0px;
}

.soical-info-continer 
{
display:table;
position:relative;
width:100%;
height:auto;
min-height:40px;
margin:10px auto 10px auto;
border:solid 1px #9f9f9f;
border-right:none;
border-left:none;
background:url(../img/body-continer.png) repeat;
}

.facebook a
{
display:block;
position:relative;
width:32px;
height:32px;
float:left;
margin:-51px 0px 0px 10px;
background:url(../img/facebook.png) no-repeat;
}

.facebook a:hover 
{
opacity: 0.8;
filter: alpha(opacity=80);
}

.twitter a
{
display:block;
position:relative;
width:32px;
height:32px;
float:left;
margin:-51px 0px 0px 47px;
background:url(../img/twitter.png) no-repeat;
}

.twitter a:hover 
{
opacity: 0.8;
filter: alpha(opacity=80);
}

.instgram a
{
display:block;
position:relative;
width:32px;
height:32px;
float:left;
margin:-51px 0px 0px 83px;
background:url(../img/instagram.png) no-repeat;
}

.instgram a:hover 
{
opacity: 0.8;
filter: alpha(opacity=80);
}

.youtube a
{
display:block;
position:relative;
width:32px;
height:32px;
float:left;
margin:-51px 0px 0px 120px;
background:url(../img/youtube.png) no-repeat;
}

.youtube a:hover 
{
opacity: 0.8;
filter: alpha(opacity=80);
}


/*---------------------- Define Screen -----------------------*/


.define-continer 
{
display:table;
position:relative;
width:90%;
height:auto;
min-height:400px;
margin:15px auto 10px auto;
-webkit-border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;
border:solid 1px #d9d5d2;
background:url(../img/body-continer.png) repeat;
}

.define-title-continer 
{
display:block;
position:relative;
width:94%;
height:30px;
font:bold 16px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#48453c;
text-align:right;
padding:8px 10px 8px 0px;
line-height:30px;
margin:10px auto 0px auto;
background:url(../img/body-continer.png) repeat;
}

.define-text-continer 
{
display:table;
position:relative;
width:94%;
height:auto;
min-height:20px;
font:normal 16px 'GEFlowRegular', serif, Tahoma, Geneva, sans-serif;
color:#48453c;
text-align:justify;
direction:rtl;
padding:0px auto 0px auto;
margin:10px auto 14px auto;
}

.define-bold-text-continer 
{
display:table;
position:relative;
width:94%;
height:auto;
min-height:20px;
font:normal 16px 'GEFlowBold', serif, Tahoma, Geneva, sans-serif;
color:#48453c;
text-align:justify;
direction:rtl;
padding:0px auto 0px auto;
margin:0px auto 14px auto;
}


/*------------- Mobile Custom -----------------------*/

@media only screen and (max-width: 1280px) 
{

.inquiry-pic {

display: block;
position: relative;
width: 100%;
height: 270px;
border: solid 1px #3b3935;
border-right: none;
border-left: none;
background: url(../img/480/inquiry-pic.png) 100% 100% no-repeat;
}

.about-pic 
{
display:block;
position:relative;
width:100%;
height:270px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/480/about-pic.png) 100% 100% no-repeat;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:270px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/480/contact-pic.png) 100% 100% no-repeat;
}

.empty 
{
display:block;
position:relative;
width:100%;
height:150px;
margin:0px 0px 0px 0px;
}

.empty-space
{
display:block;
position:relative;
width:100%;
height:200px;
margin:0px 0px 0px 0px;
}

}

@media only screen and (max-width: 960px) 
{

.inquiry-pic {
display: block;
position: relative;
width: 100%;
height: 230px;
border: solid 1px #3b3935;
border-right: none;
border-left: none;
background: url(../img/960/inquiry-pic.png) 100% 100% no-repeat;
}

.about-pic 
{
display:block;
position:relative;
width:100%;
height:230px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/960/about-pic.png) 100% 100% no-repeat;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:230px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/960/contact-pic.png) 100% 100% no-repeat;
}


}

@media only screen and (max-width: 640px) 
{

.inquiry-pic {
display: block;
position: relative;
width: 100%;
height: 200px;
border: solid 1px #3b3935;
border-right: none;
border-left: none;
background: url(../img/640/inquiry-pic.png) 100% 100% no-repeat;
}

.about-pic 
{
display:block;
position:relative;
width:100%;
height:200px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/640/about-pic.png) 100% 100% no-repeat;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:200px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/640/contact-pic.png) 100% 100% no-repeat;
}


}

@media only screen and (max-width: 480px) 
{


.inquiry-pic {
display: block;
position: relative;
width: 100%;
height: 150px;
border: solid 1px #3b3935;
border-right: none;
border-left: none;
background: url(../img/480/inquiry-pic.png) 100% 100% no-repeat;
}

.about-pic 
{
display:block;
position:relative;
width:100%;
height:150px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/480/about-pic.png) 100% 100% no-repeat;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:150px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/480/contact-pic.png) 100% 100% no-repeat;
}

.empty 
{
display:block;
position:relative;
width:100%;
height:96px;
margin:0px 0px 0px 0px;
}

.empty-space
{
display:block;
position:relative;
width:100%;
height:130px;
margin:0px 0px 0px 0px;
}


}

@media only screen and (max-width: 320px) 
{

.inquiry-pic 
{
display:block;
position:relative;
width:100%;
height:100px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/320/inquiry-pic.png) 100% 100% no-repeat;
}

.about-pic 
{
display:block;
position:relative;
width:100%;
height:100px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/320/about-pic.png) 100% 100% no-repeat;
}

.contact-pic 
{
display:block;
position:relative;
width:100%;
height:100px;
border:solid 1px #3b3935;
border-right:none;
border-left:none;
background:url(../img/320/contact-pic.png) 100% 100% no-repeat;
}

.empty 
{
display:block;
position:relative;
width:100%;
height:96px;
margin:0px 0px 0px 0px;
}

.empty-space
{
display:block;
position:relative;
width:100%;
height:140px;
margin:0px 0px 0px 0px;
}


}